.details {
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.fa-angle-left {
  color: white;
}

#head {
  color: white;
}

.details-nav {
  background-color: #bfb611;
}

.date {
  text-transform: uppercase;
  color: #777777;
  font-size: 75%;
}

.sent-message {
  font-style: italic;
  font-size: 150%;
}

#map {  height: 300px; }

.bold{
  font-weight: bolder;
    color: black;
}