.navbar-brand {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

.dont-panic-head {
  color: white;
}

.bad-driver {
  color: #bfb611;
}

.good-driver {
  color: #29aa1b;
}

#bars {
  color: white;
}
